<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bashah Online Shop{% endblock %}</title>
</head>

<body>
{% block content %}
	<p> Select a category </p>
	
	{% for cat in categories %}
    <ul>
        <p> <li> {{cat.id}}) {{cat.name}} </li></p>  
        <ul>
        	{% for pro in products %}
        	{% if pro.category == cat %}
        	<p><li> <a href= "{{pro.get_url}}"> {{pro.name}} </a> </li></p>        	
        	{% endif %}
        	{% endfor %}
        </ul>   	
    </ul>
    {% endfor %}  
          
{% endblock %}
</body>
</html>
